

<h4>Prénom:</h4>
<p> <%= @user.first_name %></p>
<h4>Nom:</h4>
<p><%= @user.last_name %></p>
<h4>Age:</h4>
<p> <%= @user.age %></p>
<h4>Email:</h4>
<p><%= @user.email %></p>
<h4>Description:</h4>
<p> <%= @user.description %></p>
<h4>Ville:</h4>
<p> <%= @user.city.name %></p>

<p class="btn btn-primary"> <%= link_to "Les gossips de la ville", city_path(@user.city_id) %> </p>