

<h4> First name :</h4>
<p> <%= @user.first_name %></p>
<h4> Last name :</h4>
<p> <%= @user.last_name %></p>
<h4> Description :</h4>
<p> <%= @user.description %></p>
<h4> city :</h4>
<p> <%= @user.city_id %></p>


<a href="<%= users_path%>" class="btn btn-primary">Retour</a>
