<h1> Titre: <%= @one_gossip.title %> </h1>
<h4> Auteur :</h4>
<p> <%= @one_gossip.user.first_name %></p>
<h5> Contenu:</h5>
<p> <%= @one_gossip.content %></p>
<h5> Ville :</h5>
<p> <%= @one_gossip.user.city.name %></p>


<p class="btn btn-primary"> <%= link_to "Plus sur l'auteur", user_path(@user.id) %> </p>
<p class="btn btn-primary"> <%= link_to "city", city_path(@user.city_id) %> </p>
<p class="btn btn-primary"> <%= link_to "edit", edit_gossip_path(@one_gossip.id) %> </p>
	
<p class="btn btn-primary"> <%= link_to "disparait", gossip_path(@one_gossip.id), method: :delete, data: { confirm: 'Are you sure?' }%> </p>
