<h1>Nom : <%= @user.first_name%></h1>
<h1>Prénom : <%= @user.last_name%></h1>
<h4>Description : <%= @user.description %></h4>
<h3>Email : <%= @user.email %></h3>
<h3>Age: <%= @user.age %>ans</h3>
<h3>Ville: <%= @user.city.name %></h3>

<p class="btn btn-primary"> <%= link_to "city potins", city_path(@user.city_id) %> <p/>


